@font-face {
    font-family: 'ber-bold';
    src: url('/fonts/ber-bold.woff') format("woff"),
           url('/fonts/ber-bold.ttf') format("truetype"),
           url('/fonts/ber-bold.eot') format("embedded-opentype");
}

body {
    background-image: url(/bg/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}