@font-face {
    font-family: 'ber-bold';
    src: url('fonts/ber-bold.woff') format("woff"),
           url('fonts/ber-bold.ttf') format("truetype"),
           url('fonts/ber-bold.eot') format("embedded-opentype");
}

body {
    background-image: url(bg/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.ber{
    position:relative;
    top:80px;
    left:15%;
    font-family: 'ber-bold' ;
    color:#ffffff;
    max-width:70%;
    text-align:center;
}

footer{
    position:relative;
    top:80px;
}

.menuBG{
    position: fixed;
    top:0;             
    left:0;
    width:100%;
    height:70px;
    background-color: #330000;
    z-index: 99;
}

.menuItem{
    list-style-type:none;
    position: fixed; 
    top: 14px;             
    left: 50%;
    font-size:20px;
    letter-spacing:5px; 
    text-align:center;
    line-height: 54px;
    box-sizing: border-box;
    border-top:#FFFFFF 1px solid;
    z-index: 100;
}
.menuItem:hover{
    border-top:#FFFFFF 5px solid;
}

.chosenItem{
    border-top:#FFFFFF 5px solid;
    line-height: 50px;
}

a:link,a:visited {color:#ff00ff; text-decoration:none;}
a:hover {color:#ff7700; text-decoration:none;}
a.menuLink:link,a.menuLink:visited {color:#ffffff; text-decoration:none;}
a.chosen:link, a.chosen:visited{color:#00FF00; text-decoration:none;}
a.menuLink:hover, a.chosen:hover {color:#00FFFF; text-decoration:none;}

#menu0{
    transform: translateX(-314px);
    width:128px;
    height: 50px;
}
#menu1{
    transform: translateX(-181px);
    width:128px;
    height: 50px;
}
#menu2{
    transform: translateX(-48px);
    width:188px;
    height: 50px;
}
#menu3{
    transform: translateX(146px);
    width:168px;
    height: 50px;
}


